h1 {
	text-align: center;
	font-size: 50px;
}
body {
	background: #d9d9d9;
	font-family: "Helvetica Neue",
		Helvetica, Arial, Sans-serif;
	text-align: center;
}
.top {
	color: #D7E0E6;
	background-color: #0099F8;
	padding: 50px;
	marginb: 30px 0 0 0;
}
a {
	color: #D7E0E6;
}
.wrapper {
	margin: 0 auto;
	width: 900px;
}
.about {
	display: inline-block;
	margin: 15px 0 0 0;
}
.column {
	background-color: #CE4D4F;
	color: #263039;
	height: 210px;
	width: 260px;
	float: left;
	padding: 20px 15px;
	text-align: center;
}